/*
    Theme footer section styles
*/

body .wp-site-blocks footer {
    background-color: var(--wp--preset--color--block--background);
    box-shadow: 0 0 5px 0 #7d7d7d2e;
    margin-top: 3rem;
}

body .wp-site-blocks footer a {
    color: var(--wp--preset--color--link);
}

/*
    Footer inner div
*/
body .wp-site-blocks footer div {
    padding: 4rem !important;
}
