/*
    Theme footer section styles
*/

body .wp-site-blocks footer {
    background-color: var(--wp--preset--color--block--background);
    box-shadow: 0 0 5px 0 #7d7d7d2e;
    padding-top: 1rem !important;
    padding-bottom: 1rem;
}

body .wp-site-blocks footer * {
    max-width: 1000px !important;
}

body .wp-site-blocks footer a {
    color: var(--wp--preset--color--link);
    text-decoration: none;
}
