/*
    Theme main section styles
*/

/* body .wp-site-blocks main {} */

/*
    TODO: Fixe this section bug
*/
body .wp-site-blocks main .wp-block-post-template li {
    /* background: #fff; */
    padding: 10px;
    /* border-radius: 6px; */
    /* box-shadow: 0 0 5px #0d0d0d40; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}

/*
    Remove posts last item border
*/
body .wp-site-blocks main ul .post:last-child {
    border: none;
}

/*
    Fixes bug
*/
.wp-block-post-template.is-flex-container li, .wp-block-query-loop.is-flex-container li {
    margin-right: 0 !important;
}

/*
    Fixes bug
*/
.wp-block-post-template.is-flex-container.is-flex-container.columns-3>li, .wp-block-query-loop.is-flex-container.is-flex-container.columns-3>li {
    width: 100% !important;
}

@media (min-width: 782px) {
    .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
        margin-left: 0 !important;
        margin-inline-start: var(--wp--style--block-gap,2em);
    }
}