/*
Posts image
*/

body .wp-site-blocks main .wp-block-post-template li {
    border-bottom: 1px solid #7d7d7d7d !important;
}

body .wp-site-blocks main ul li div h2 a {
    text-decoration: none !important;
}

body .wp-site-blocks main ul li div .wp-block-spacer {
    height: 2rem !important;
}

body .wp-site-blocks main ul li div h2 {
    margin-bottom: 8px !important;
    max-width: 783px !important;
    font-size: 2rem !important;
    height: 2rem !important;
}

.entry-content.wp-block-post-content p {
    text-align: justify !important;
}

.post-template-default h2 {
    font-size: 38px !important;
}

.post-template-default .wp-site-blocks main * {
    max-width: auto !important;
}

.post-template-default .entry-content.wp-block-post-content * {
    max-width: 850px !important;
}

@media only screen and (min-width: 777px) {
    body .wp-site-blocks main ul li {
        margin-top: 2rem !important;
    }

    body .wp-site-blocks main ul li div .wp-block-columns {
        text-align: justify;
    }

    body .wp-site-blocks main ul li div .wp-block-columns .wp-block-column:nth-last-child(1) {
        display: none;
    }

    body .wp-site-blocks main ul li div .wp-block-columns .wp-block-column:nth-last-child(2) {
        flex-basis: 776px !important;
    }

    body .wp-site-blocks main ul li div .alignwide .wp-block-column {
        display: flex;
        flex-direction: column;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    body .wp-site-blocks main ul .post:last-child {
        border: none !important;
    }

    body .wp-site-blocks main ul li div .wp-block-post-featured-image {
        display: none;
    }
}