/*
    Posts
*/

@media only screen and (min-width: 777px){
    body .wp-site-blocks main ul li div h2 {
        float: left;
        width: calc(100% - 302px);
        margin-bottom: 33px !important;
    }
    
    /* Post image */
    body .wp-site-blocks main ul li div .wp-block-post-featured-image {
        float: right;
        /* order: -1; */
    }
    
    body .wp-site-blocks main ul li div .wp-block-post-featured-image a img{
        width: 280px;
    }
    
    body .wp-site-blocks main ul li div .wp-block-columns {
        width: calc(100% - 320px);
    }
    
    body .wp-site-blocks main ul li div .alignwide div {
        display: flex;
        flex-direction: column;
    }
}