/*
    * TwentyTwentyTwoPlus Main Style
    * Version: 0.0.1
    * ResaDev team
*/

@import './header/header.css';
@import './footer.css';
@import './main.css';
@import './woocommerce/woocommerce.css';

/*
    Import fonts
*/
@font-face {
    font-family: 'Yekan';
    src: url('https://cdn.cleveraj.net/fonts/WebYekan.eot');
    src: url('https://cdn.cleveraj.net/fonts/WebYekan.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.cleveraj.net/fonts/WebYekan.woff') format('woff'),
         url('https://cdn.cleveraj.net/fonts/WebYekan.ttf') format('truetype'),
         url('https://cdn.cleveraj.net/fonts/WebYekan.svg#WebYekan') format('svg');
}

/* Variables */
:root {
    --theme--body--background: #f5f5f5;
    --theme--font: "Yekan", Tahoma;
}

body {
    margin: 0;
    background-color: var(--theme--body--background);
    font-family: var(--theme--font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--theme--font);
}

.box-rs {
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 5px #7d7d7d40;
    border-radius: 16px;
}