/*
    * TwentyTwentyTwoPlus Main Style
    * Version: 0.1.0
    * ResaDev team
*/

@import "./header/header.css";
@import "./footer.css";
@import "./main.css";
@import "./woocommerce/woocommerce.css";

/*
    Import fonts
*/
/* @font-face {
    font-family: "Yekan";
    font-weight: normal;

    src: url("https://cdn.cleveraj.net/fonts/WebYekan.eot");
    src: url("https://cdn.cleveraj.net/fonts/WebYekan.eot?#iefix")
            format("embedded-opentype"),
        url("https://cdn.cleveraj.net/fonts/WebYekan.woff") format("woff"),
        url("https://cdn.cleveraj.net/fonts/WebYekan.ttf") format("truetype"),
        url("https://cdn.cleveraj.net/fonts/WebYekan.svg#WebYekan")
            format("svg");
}

@font-face {
    font-family: "IRANYekan";
    src: url("../assets/fonts/iranYekan.eot");
    src: url("../assets/fonts/iranYekan.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/iranYekan.woff") format("woff"),
    url("../assets/fonts/iranYekan.ttf") format("truetype");
} */

@font-face {
    font-family: "Sans";
    src: url("../assets/fonts/Sans.woff2") format("woff2");
}

/* Variables */

body,
body.light {
    --wp--preset--color--black: #000000 !important;
    --wp--preset--color--cyan-bluish-gray: #abb8c3 !important;
    --wp--preset--color--white: #ffffff !important;
    --wp--preset--color--pale-pink: #f78da7 !important;
    --wp--preset--color--vivid-red: #cf2e2e !important;
    --wp--preset--color--luminous-vivid-orange: #ff6900 !important;
    --wp--preset--color--luminous-vivid-amber: #fcb900 !important;
    --wp--preset--color--light-green-cyan: #7bdcb5 !important;
    --wp--preset--color--vivid-green-cyan: #00d084 !important;
    --wp--preset--color--pale-cyan-blue: #8ed1fc !important;
    --wp--preset--color--vivid-cyan-blue: #0693e3 !important;
    --wp--preset--color--vivid-purple: #9b51e0 !important;
    --wp--preset--color--foreground: #414141 !important;
    --wp--preset--color--background: #ffffff !important;
    --wp--preset--color--home--background: #f5f5f5 !important;
    --wp--preset--color--block--background: #ffffff !important; /* Footer section background */
    --wp--preset--color--primary: #1a4548 !important;
    --wp--preset--color--secondary: #ffe2c7 !important;
    --wp--preset--color--tertiary: #f6f6f6 !important;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
        135deg,
        rgba(6, 147, 227, 1) 0%,
        rgb(155, 81, 224) 100%
    ) !important;
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
        135deg,
        rgb(122, 220, 180) 0%,
        rgb(0, 208, 130) 100%
    ) !important;
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
        135deg,
        rgba(252, 185, 0, 1) 0%,
        rgba(255, 105, 0, 1) 100%
    ) !important;
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
        135deg,
        rgba(255, 105, 0, 1) 0%,
        rgb(207, 46, 46) 100%
    ) !important;
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
        135deg,
        rgb(238, 238, 238) 0%,
        rgb(169, 184, 195) 100%
    ) !important;
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
        135deg,
        rgb(74, 234, 220) 0%,
        rgb(151, 120, 209) 20%,
        rgb(207, 42, 186) 40%,
        rgb(238, 44, 130) 60%,
        rgb(251, 105, 98) 80%,
        rgb(254, 248, 76) 100%
    ) !important;
    --wp--preset--gradient--blush-light-purple: linear-gradient(
        135deg,
        rgb(255, 206, 236) 0%,
        rgb(152, 150, 240) 100%
    ) !important;
    --wp--preset--gradient--blush-bordeaux: linear-gradient(
        135deg,
        rgb(254, 205, 165) 0%,
        rgb(254, 45, 45) 50%,
        rgb(107, 0, 62) 100%
    ) !important;
    --wp--preset--gradient--luminous-dusk: linear-gradient(
        135deg,
        rgb(255, 203, 112) 0%,
        rgb(199, 81, 192) 50%,
        rgb(65, 88, 208) 100%
    ) !important;
    --wp--preset--gradient--pale-ocean: linear-gradient(
        135deg,
        rgb(255, 245, 203) 0%,
        rgb(182, 227, 212) 50%,
        rgb(51, 167, 181) 100%
    ) !important;
    --wp--preset--gradient--electric-grass: linear-gradient(
        135deg,
        rgb(202, 248, 128) 0%,
        rgb(113, 206, 126) 100%
    ) !important;
    --wp--preset--gradient--midnight: linear-gradient(
        135deg,
        rgb(2, 3, 129) 0%,
        rgb(40, 116, 252) 100%
    ) !important;
    --wp--preset--gradient--vertical-secondary-to-tertiary: linear-gradient(
        to bottom,
        var(--wp--preset--color--secondary) 0%,
        var(--wp--preset--color--tertiary) 100%
    ) !important;
    --wp--preset--gradient--vertical-secondary-to-background: linear-gradient(
        to bottom,
        var(--wp--preset--color--secondary) 0%,
        var(--wp--preset--color--background) 100%
    ) !important;
    --wp--preset--gradient--vertical-tertiary-to-background: linear-gradient(
        to bottom,
        var(--wp--preset--color--tertiary) 0%,
        var(--wp--preset--color--background) 100%
    ) !important;
    --wp--preset--gradient--diagonal-primary-to-foreground: linear-gradient(
        to bottom right,
        var(--wp--preset--color--primary) 0%,
        var(--wp--preset--color--foreground) 100%
    ) !important;
    --wp--preset--gradient--diagonal-secondary-to-background: linear-gradient(
        to bottom right,
        var(--wp--preset--color--secondary) 50%,
        var(--wp--preset--color--background) 50%
    ) !important;
    --wp--preset--gradient--diagonal-background-to-secondary: linear-gradient(
        to bottom right,
        var(--wp--preset--color--background) 50%,
        var(--wp--preset--color--secondary) 50%
    ) !important;
    --wp--preset--gradient--diagonal-tertiary-to-background: linear-gradient(
        to bottom right,
        var(--wp--preset--color--tertiary) 50%,
        var(--wp--preset--color--background) 50%
    ) !important;
    --wp--preset--gradient--diagonal-background-to-tertiary: linear-gradient(
        to bottom right,
        var(--wp--preset--color--background) 50%,
        var(--wp--preset--color--tertiary) 50%
    ) !important;
    --wp--preset--duotone--dark-grayscale: url(#wp-duotone-dark-grayscale) !important;
    --wp--preset--duotone--grayscale: url(#wp-duotone-grayscale) !important;
    --wp--preset--duotone--purple-yellow: url(#wp-duotone-purple-yellow) !important;
    --wp--preset--duotone--blue-red: url(#wp-duotone-blue-red) !important;
    --wp--preset--duotone--midnight: url(#wp-duotone-midnight) !important;
    --wp--preset--duotone--magenta-yellow: url(#wp-duotone-magenta-yellow) !important;
    --wp--preset--duotone--purple-green: url(#wp-duotone-purple-green) !important;
    --wp--preset--duotone--blue-orange: url(#wp-duotone-blue-orange) !important;
    --wp--preset--font-size--small: 1rem !important;
    --wp--preset--font-size--normal: 1.125rem !important;
    --wp--preset--font-size--medium: 1.75rem !important;
    --wp--preset--font-size--large: clamp(1.75rem, 3vw, 2.25rem) !important;
    --wp--preset--font-size--huge: clamp(2.5rem, 4vw, 3rem) !important;
    --wp--preset--font-family--system-font: "Sans",sans-serif !important;
    --wp--preset--font-family--source-serif-pro: "Source Serif Pro", serif !important;
    --wp--custom--spacing--small: max(1.25rem, 5vw) !important;
    --wp--custom--spacing--medium: clamp(
        2rem,
        8vw,
        calc(4 * var(--wp--style--block-gap))
    ) !important;
    --wp--custom--spacing--large: 8rem !important;
    --wp--custom--typography--font-size--gigantic: clamp(
        3rem,
        6vw,
        4rem
    ) !important;
    --wp--custom--typography--font-size--colossal: clamp(
        4rem,
        8vw,
        6.25rem
    ) !important;
    --wp--custom--typography--line-height--tiny: 1.15 !important;
    --wp--custom--typography--line-height--small: 1.2 !important;
    --wp--custom--typography--line-height--medium: 1.4 !important;
    --wp--custom--typography--line-height--normal: 1.6 !important;
    --wp--wc--product--color--background: #ffffff;
    --wp--wc--product--border: 1px solid #ebebeb;
}

/*
 * All items in Theme
 */
.wp-site-blocks * {
    font-family: var(--wp--preset--font-family--system-font) !important;
}

body {
    margin: 0;
}

body.home {
    background: var(--wp--preset--color--home--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: normal !important;
}

input,
textarea,
select {
    background: none;
    border: 0.1rem solid #7d7d7d7d;
    color: var(--wp--preset--color--foreground);
    padding: 7px;
    border-radius: 2px;
}

select option {
    background: var(--wp--preset--color--background);
    color: var(--wp--preset--color--foreground);
}

svg {
    fill: var(--wp--preset--color--foreground);
}

.switch-theme-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0 !important;
    cursor: pointer;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border-color: #7d7d7d7d !important;
}

.wp-block-post-title {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

ins {
    text-decoration: none !important;
}

/*
    Custom classes
*/

/*
    Add shadow and radius to box
*/
.box-br-s {
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 5px #7d7d7d40;
    border-radius: 16px;
}
