/*
 * WC cart page styles
 */

.woocommerce .cart .actions button[name=update_cart] {
    width: 100%;
}

.woocommerce .cart .actions .coupon {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.woocommerce .cart .actions .coupon input {
    width: 8rem !important;
}

.woocommerce .cart_totals h2 {
    font-size: 2rem;
}

.woocommerce .cart_totals .wc-proceed-to-checkout a {
    background: #77a464 !important;
    padding: 1rem !important;
    border-radius: 8px;
}

/*
    Product in cart remove button
*/
.woocommerce a.remove {
    background: none !important;
}