/*
    Woocommerce product styles
*/

.woocommerce-page ul.products li.product {
    padding: 1rem !important;
    transition: all 0.3s;
    background-color: #fff;
    margin-left: -1px !important;
    border: 1px solid #ebebeb;
}

/*
    Product on sale
*/
.woocommerce-page ul.products li.product .onsale {
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

/*
    Product price
*/
.woocommerce-page ul.products li.product .price {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
}

/*
    Product image
*/
.woocommerce-page ul.products li.product a img {
    height: 11rem !important;
    object-fit: contain; /* Fixe image bug */
}

.woocommerce-page ul.products li.product:hover {
    box-shadow: 0 2px 17px 0 rgb(0 0 0 / 9%);
    z-index: 10;
}

.woocommerce #respond input#submit, .woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    width: calc(100% - 32px);
    font-size: 0.9rem !important;
    text-align: center;
}

/*
    Category blocks
*/
body .wp-site-blocks main .wp-block-product-category {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
}

body .wp-site-blocks main .wp-block-product-category ul li {
    margin: 10px;
    padding: 10px;
    max-width: 13rem !important;
    transition: all 0.3s;
}

body .wp-site-blocks main .wp-block-product-category ul li a {
    text-decoration: none;
}

body .wp-site-blocks main .wp-block-product-category ul li .wp-block-button a {
    color: #515151;
    background: #ebe9eb;
    font-weight: 700;
}

body .wp-site-blocks main .wp-block-product-category ul li:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    /* margin-top: -10px; */
    /* margin-bottom: 20px !important; */
}

@media only screen and (max-width: 768px) {
    .woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
        width: calc(100% - 2rem) !important;
    }
}