/*
    Products page
*/

.woocommerce .single-product {
    padding: 20px;
    border-radius: 4px;
}

.woocommerce div.product .woocommerce-product-gallery {
    box-shadow: 0 0 5px #cccccc7d;
}

@media (min-width: 752px) {
    .woocommerce div.product .woocommerce-product-gallery {
        width: 40% !important;
    }
}

.woocommerce div.product .summary .product_meta {
    font-size: 14px;
}

.woocommerce div.product .summary .price {
    display: flex;
    flex-direction: column;
}

.woocommerce div.product .summary .price ins bdi {
    font-size: 2rem;
}

.woocommerce div.product .woocommerce-tabs .wc-tabs li {
    color: var(--wp--preset--color--foreground) !important;
    background: var(--wp--preset--color--block--background) !important;
    border: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #77a464 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
    content: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
    content: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    content: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    content: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-bottom: 1px solid #7d7d7d7d !important;
}

/*
    Cart section
*/

.woocommerce .single-product .cart .quantity {
    margin-bottom: 1rem !important;
}

.woocommerce .single-product .cart button {
    background-color: #77a464 !important;
    padding: 1rem !important;
    border-radius: 8px;
}
