@import "./product.css";
@import "./checkout.css";
@import "./product-page.css";
@import "./cart.css";

body .wp-site-blocks main .entry-content .woocommerce {
    max-width: 1000px !important;
}

.select2-container--default .select2-selection--single {
    background: none !important;
    border: solid 1px #7d7d7d7d !important;
}

.woocommerce-info,
.woocommerce-error,
.woocommerce-message {
    background: var(--wp--preset--color--background) !important;
    color: var(--wp--preset--color--foreground) !important;
}

.woocommerce .wp-block-spacer {
    height: 0 !important;
}
