/*
    Theme header section styles
*/

@import 'menu.css';

/*
    Header
*/
body .wp-site-blocks header {
    height: auto;
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
    background: #fff;
    display: flex;
}

/*
    Header body
*/
body .wp-site-blocks header .wp-block-group {
    padding: 0 !important;
    
    /* Add space between first item and other items (from right) */
    flex: 1;
}