/*
    Theme header section styles
*/

@import "menu.css";
@import "nav.css";

/*
    Header
*/
body .wp-site-blocks header {
    height: 4rem;
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
    background: var(--wp--preset--color--block--background);
    display: flex;
}

/*
    Header body
*/
body .wp-site-blocks header .wp-block-group.alignwide {
    padding: 0 !important;

    /* Add space between first item and other items (from right) */
    flex: 1;

    font-weight: normal;
}

body .wp-site-blocks header .wp-block-group.alignwide h1 a {
    font-size: 1.4rem;
}

body .wp-site-blocks header .wp-block-group.alignwide h1 a {
    text-decoration: none;
    font-weight: bold;
}
