/*
    Header menu section
*/

/* Menu ( Pages List ) */
.wp-block-navigation__responsive-container-content ul li::after {
    content: "";
    position: absolute;
    bottom: -8px;
    height: 3px;
    width: 0%;
    transition: all 0.3s;
}

/* Menu Items */
.wp-block-navigation__responsive-container-content ul li:hover::after {
    background-color: red;
    width: 100%;
}

/*
    Mobile menu
*/
.wp-block-navigation:not(.has-background)
    .wp-block-navigation__responsive-container.is-menu-open {
        color: var(--wp--preset--color--foreground);
        background: var(--wp--preset--color--background) !important;
}
