/* 
    Nav classes
*/

@media (max-width: 600px) {
    .wp-site-blocks div.wp-block-navigation__responsive-container {
        display: flex !important;
        width: 13rem;
        position: fixed;
        right: -13rem;
        transition: all 0.3s;
    }

    .wp-site-blocks div.wp-block-navigation__responsive-container.is-menu-open {
        right: 0;
    }

    body .wp-site-blocks header .wp-block-group.alignwide {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .wp-site-blocks div.wp-block-navigation__responsive-container ul {
        align-items: flex-start !important;
    }
}

/*
    When nav is opened
*/
html.has-modal-open body::after {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: 0.4;
}
