/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

body div.wp-block-create-block-switch svg {
	display: none;
	cursor: pointer;
}

body.light div.wp-block-create-block-switch svg#light-mode-icon {
	display: block;
}

body.dark div.wp-block-create-block-switch svg#dark-mode-icon {
	display: block;
}

body.system div.wp-block-create-block-switch svg#system-mode-icon {
	display: block;
}
